<div class="follow-and-follower-count">
  <%= link_to following_user_path(@user.id), class: "followings-count" do %>
    フォロー<span><%= "#{@user.following.count}" %></span>人
  <% end %>
  <%= link_to followers_user_path(@user.id) do %>
    フォロワー<span><%= "#{@user.followers.count}" %></span>人
  <% end %>
</div>