<%= link_to("/users/#{user.id}") do %>
  <div class="followuser"><% if user.image? %>
    <img src='<%= user.image %>' class="fol-icon" alt="ユーザーアイコン">
  <% else %>
   <%= image_tag "default.jpg", alt: "ユーザーアイコン",  class: "fol-icon"%>
  <% end %><span class="folname"><%= user.nickname %></span></div>
<% end %>