.wrapper{
  margin: auto;
  max-width: 1100px;
  @media screen and (min-width:1200px) {
  display: flex;
  }
}
.new-wrap{
  margin: auto;
  max-width: 1100px;
  min-height: 100vh;
  background-color: white;
}
.wraper{
  min-height: 100vh;
  padding:0 10vw;
  background-color: rgb(212, 212, 212);
  @media screen and (max-width:540px){
    padding:0 3vh;
  }
}
li{
  list-style: none;
}

a {
 
  text-decoration:none;
  }
  a:visited {
 
    color:rgb(51, 94, 173);

  
    }
  a:hover {
 
    color:silver;
    text-decoration:none;
     
    }

    .book-img{
      border: 1px solid #ddd;
      width:  11vh;
      height: 17vh;
      transition-duration: 0.5s;
      @media screen and(max-width:280px){
        width: 8vh;
        height: 14vh;
      }
    }
    .book-img img{
      width: 100%;
      cursor: pointer;
    }
    .book-img:hover{
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
      transform: translateY(-1px);
      transition-duration: 0.5s;
    }
    
    

.cate-name{
  margin-top: 18px;
  text-align: start;
  @media screen and (max-width:1160px) {
    display: inline-block;
    border: solid 1px black;
    background-color: rgb(70, 64, 64);
    padding: 3px;
    a:visited {
  
      color:white;
  
    
      }
  }
}    

.side-bar {
  padding: 50px 20px 50px 20px;
  background-color: white;
  @media screen and (max-width:1160px) {
    height:100%;
  }
}
.side-title{
  font-size: 19px;
  padding-bottom: 16px;
  border-bottom: solid 1px rgb(216, 213, 213);
  width:28vh;
}
.book-contena{
  border: rgb(184, 182, 182) solid 1px;
  margin-top: 10px ;
  display: flex;
  justify-content: space-between;
  
}


.review-areatitle{
  color: white;
  background-color: rgb(131, 58, 10);
  line-height:32px;

}
.mgl-10{
  margin-left: 20px;
}
.review-img {
  
  margin: 5px 5px 0 5px;
}
.review-area{
    padding: 10px 5px;
    width: 44%;
    @media screen and (max-width:767px){
      
    p{

    
      font-size: 13px;
    }
    }
}
#mainarea{
  width: 650px;
  margin: auto;
  @media screen and (max-width:750px){
    width: auto;
  }
}
.titles{
  font-size: 18px;

  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
@media screen and (max-width:767px){
  font-size: 16px;
}
}
.usernickname{
  text-align: center;
}
.review-space{
  border: skyblue 1px solid;
    margin: 5px 0;
    background-color: skyblue;
    border-radius: 7px;

}
.post-icon{
  height: 140px;
  width: 140px;
  border-radius: 100px;
  @media screen and(max-width:414px){
    height: 80px;
    width: 80px;
  }
@media screen and(max-width:280px){
height: 50px;
width: 50px;
border-radius: 100px;
}
}
.show-member-img{
  text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.member-img{
  margin: auto 14px auto 0px;
  text-align: center;
}

