li{
  list-style: none;
}

a {
 
  text-decoration:none;
  }
  a:visited {
 
    color:purple;

     
    }
  a:hover {
 
    color:silver;
    text-decoration:none;
     
    }

    .book-img{
      border: 1px solid #ddd;
      width:  15vh;
      height: 22vh;
      transition-duration: 0.5s;
    }
    .book-img img{
      width: 100%;
      cursor: pointer;
    }
    .book-img:hover{
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
      transform: translateY(-1px);
      transition-duration: 0.5s;
    }
    .side-bar{
      height: 100%;
     
      border: solid 1px black;
    }

.cate-con{
  margin: 8px;
}    

    
    

.logo-icon{
  height: 40px;
  width: 60px;
}