
.btn-default{
 background-color:darkred;
 color: white;
}


.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}
.book-new{
  margin: 20px 40px 20px 0;
  padding-right: 50px;
  width: calc(100% - 25%);
  @media (max-width:767px){
    width:100vh;
    padding:0px;
    margin-right: 0px;
  }
}
.book-image-prev{
  padding-left: 90px;
}
.books{
  display: flex;
}
.book-info{
  flex-direction: column;
  margin-left: 40px;
}
.input-default{
  padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    width: 100%;
    margin: 20px 0 30px 40px;
    font-size: 16px;
    border-bottom: black 1px solid;
}
.input-text{
  resize: none;
}
#reviewhead {
  margin: 0 0 0 20px;
  height: 110px;
}
#title {
  padding-top: 30px;
  font-size: 24px;
  color: #055890;
}
.imag{
  padding: 0;
  margin: 0px !important;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    font-size: 6px;
}
.reviewtitle{
  padding: 6px 20px 4px 43px;
    font-size: 16px;
    color: #055890;
    margin-bottom: 5px;
}
element.style {
  padding-bottom: 10px;
}
.reviewmain {
  background: #FFF;
  border: 1px solid transparent;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.review p.summary {
  color: #8f8f8c;
  font-size: 11px;
  margin: 0;
}
.summary{
  margin:10px 0;
}
.review p {
  margin: 1em 0;
  padding: 0;
}
.reviewImg {
  float: right;
  margin: 0 300px 20px 0px;
  width: 212px;
  text-align: center;
}
.registuser, .regititle {
  text-align: center;
}
.regititle{
  font-size:25px;
  color:rgb(59, 111, 153);
  padding-top: 100px;
}
.user-container {
  text-align: center;
  border:1px solid black;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 50px;
  margin-top:90px;
}
.new-registrations-container ,.sessions-container{
  padding-bottom: 30px !important;
}
.field {
  margin-top: 50px;
}
.entry {
  width: 360px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  resize: none;
}
.actions {
  margin-top: 30px;
  margin-bottom: 30px;

  .guest-login {
    background-color: #831519;
    padding: 10px 84px;
    color: #fff;
    border: 1px solid #A9A9A9;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background-color: #630e11;
    }
  }
}
.entry-btn {
  margin-top: 25px;
  width: 360px;
  height: 35px;
  background-color: #185fee;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  &:hover {
    background-color: #104cc4;
  }
}

.searchtitle{
  font-size: 30px;
}
.searchtitle, .returnlink{
  text-align: center;
  margin-top: 50px;
}

