// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow-and-follower-count {
  padding-top: 30px;

  .followings-count, .followers-count {
    color: black;
    padding: 0 15px;
  } 

  span {
    font-weight: bold;
  }
}
#relationship{
a:visited {
 
  color:black;

  }
}