.tab {
  border-bottom: 1px solid rgb(196, 189, 189);

  display: flex;
  
}
.tab li {
  color: #333;

  margin: 0 auto -1px auto;
  padding: 10px 20px;
  border: 1px solid  rgb(196, 189, 189);
  cursor: pointer;
  list-style: none;
  transition: .3s;
}
.tab li.active {
  color: #fff;
  background: black;
  cursor: auto;

}
 
.area ul {
  display: none;
}
.area ul.show {
  display: block;
}

.container{
  text-align: center ;
}
#registuser{
  text-align: center;
}
.users-container{
    margin: 40px 0 30px 0;
    padding-bottom: 7px;
    background-color: #fff;
    width: 650px;
    border: 1px solid black;
    box-shadow: 0 0 4px black;
    color: black;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    @media screen and (max-width:648px) {
    margin: 40px 10px 30px 10px;
    padding-bottom: 7px;
    background-color: #fff;
    width: auto;
    border: 1px solid black;
    box-shadow: 0 0 4px black;
    color: black;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    }
}
.show-icon {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  border-radius: 100px;
  
  object-fit: cover;

}
.show-nickname{
  font-size: 30px;
  margin-top: 30px;
}
.acount-edit {
  margin: 20px 0;
  font-size: 18px;
   a {
    color: #b1aeae;
    &:hover {
      color: #007bff;
      text-decoration: none;
    }
  }
}

.user-posts-lower {
  display: flex;
  border-bottom: 2px #b1aeae solid;
  margin-top: 10px;
  position: relative;
  width: auto;
}
.newarea{
  padding: 0 0 25px 0;
  font-size: 18px;
}
 .postday{
  display: flex;
}
.booklist-title{
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-align: left;
}
.postday{
  font-size: 14px;
  margin-bottom: 7px;
  border-bottom:rgb(196, 189, 189) 1px solid;
}

.starscore{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 8px;
  margin-bottom: 4px;
}
.newreve{
  margin-left: 10px;
  word-wrap:break-all;
  width: auto;
  text-align: left;
  height: 90px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.likebook-list{
  display: flex;
  flex-wrap: wrap;
}
.likebook-title{
  display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    width: 120px;
    overflow: hidden;
  white-space: nowrap;
  
  text-overflow: ellipsis;
}
.likelists{
  margin: 5px 20px 5px 20px;
}
.edit-user{
  line-height: 50px;
}
.edit-entry{
  height: 33px;
}
.edit-entry-btn{
  margin-top: 25px;
  width: 20%;
  height: 33px;
  background-color: #185fee;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  &:hover {
    background-color: #104cc4;
  }
}
.fol-contena{
  width: 400px;
  background-color: white;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  @media screen and (max-width:360px) {
    width: auto;
  background-color: white;
  margin: 30px 10px 30px 10px;
  text-align: center;

  }
  a{
    color: black;
    &:hover{
      color: #A9A9A9;
    }
  }
}
.fol-list{
  text-align: justify;
}
.followuser{
  border-top: 1px solid rgb(161, 161, 161);
  height: 60px;
}
.fol-icon{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 5px auto auto 10px;
  border-radius: 100px;
}
.fol-title{
  padding: 15px 0 ;
}
.folname{
  padding-left: 20px;
}